.header {
  background: white;
}


.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__text {
  font-size: $font-size-xl;
  margin: 0;
}
