{
  "presets": [
    "env",
    "react"
  ],
  "plugins" : [
    "transform-class-properties",
    [
      "react-intl", {
        "messagesDir": "./src/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
