html {
  font-size: 62.5%;
  //NOte that this is setting a base 10 system, so 1.6rem is a 16 font-size or 2.2 is a 22 px font-size
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('/images/backgroundImg.jpg') repeat 0 0;
  text-align: center;
  box-sizing: border-box;
  -webkit-animation: slide 500s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -2000px 0; }
}


//*****************************************
body {
  // background-color: grey;
      font-family: $default-font, $backup-font;
      // font-family: 'Nanum Pen Script', cursive;
    // font-family: 'Dosis', sans-serif;
  // font-family: Monospace, Helvetica, Arial, sans-serif;
  font-size: $font-size-large;
  }

img {
  max-width: 450px;
  max-width: 450pxpx;
}
