html {
  font-size: 62.5%;
  //NOte that this is setting a base 10 system, so 1.6rem is a 16 font-size or 2.2 is a 22 px font-size
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $default-font, $backup-font;
  font-size: $font-size-large;
  text-align: center;
  background: url('/images/backgroundImg.jpg') repeat 0 0;
  box-sizing: border-box;
  -webkit-animation: slide 500s linear infinite;
}

.future-navbar {
  padding-bottom: $m-size;
  a {
    padding: 0 $l-size;
    text-decoration: none;
  }


}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -2000px 0; }
}


img {
  max-width: 450px;
  max-width: 450pxpx;
}
